<div class="palm-row" x-mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper question-row">
        <div class="question-stats-summary">
            <div class="vote-count">
                <div class="count">#{score}</div>
                <div class="count-label">#{votes_label}</div>
            </div>
            <div class="answer-count #{answered_status} #{accepted_status}">
                <div class="count">#{answer_count}</div>
                <div class="count-label">#{answers_label}</div>
            </div>
            <div class="view-count">
                <div class="count">#{view_count}</div>
                <div class="count-label">#{views_label}</div>
            </div>
        </div>
        <div class="question-title">#{title}</div>
        <ul class="tags">#{tag_list}</ul>
    </div>
</div>