<div class="palm-row">
    <div class="palm-row-wrapper answer-row #{accepted_status}">
        <div class="answer-stats-summary">
            <div class="vote-count">
                <div class="count">#{score}</div>
                <div class="count-label">#{votes_label}</div>
            </div>
        </div>
        <div class="answer-body body">#{body}</div>
        #{owner_block}
        <ul class="comments">#{comment_list}</ul>
    </div>
</div>