<li>
    <div class="vote-count">#{score}</div>
    <div class="body">#{body}
        <!--TODO dont use a link here-->
        - <a href="/users/#{owner.user_id}">#{owner.display_name}</a>
    </div>
</li>