<div class="owner-info-wrapper">
    <div class="owner-info" onclick="Mojo.Log.info('user id: #{user_id}');">
        <img src="http://www.gravatar.com/avatar/#{email_hash}?s=32&r=pg&d=identicon"/>
        <div>
            <div class="owner-name">#{display_name}</div>
            <div class="reputation">#{reputation}</div>
        </div>
    </div>
</div>