<div class="question-stats-summary">
    <div class="vote-count">
        <div class="count">#{score}</div>
        <div class="count-label">#{votes_label}</div>
    </div>
    <div class="answer-count #{answered_status} #{accepted_status}">
        <div class="count">#{answer_count}</div>
        <div class="count-label">#{answers_label}</div>
    </div>
    <div class="view-count">
        <div class="count">#{view_count}</div>
        <div class="count-label">#{views_label}</div>
    </div>
</div>
<div class="question-body body">#{body}</div>
<ul class="tags question-scene">#{tag_list}</ul>
#{owner_block}
<ul class="comments">#{comment_list}</ul>
<div class="answers-list-title #{answered_status}">#{answer_count} #{answers_label}</div>
