p {
    margin: 0;
    padding: 0.6em 5px;
}

pre {
    background-color: #EEE;
    border: none;
    font-size: 14px;
}

code {
    background-color: #EEE;
    border: none;
    font-family: Courier New, monospace;
}

blockquote {
    background-color: #EEE;
    padding: 0;
}

blockquote > p {
    padding: 5px 10px;
}

.body ul, .body ol {
    font-size: large;
    padding-left: 20px;
}

.body ul > li, .body ol > li {
    font-size: large;
    padding: 0 5px 0 0;
}

.question-header .title {
    padding: 13px;
}

.answers-list-title {
    border-bottom: solid black 2px;
    padding-left: 6px;
    padding-top: 4px;
    font-weight: bold;
}

body.palm-default {
    background-color: white;
}

#questions .palm-row {
    background-image: none;
}

.answer-count {
    color: white;
    background-color: #75845C;
    padding: 0 6px;
}

.answer-count.accepted {
    color: #E1E818;
}

.answer-count.unanswered {
    background-color: #9A4444;
}

.answer-row {
    border-bottom: solid black 2px;
    padding-bottom: 2px;
    padding-top: 1px;
}

.answer-row.accepted .vote-count {
    background-image: url(../images/checkbox-small.png);
    background-position: right center;
    background-repeat: no-repeat;
    padding-right: 40px;
}

ul.comments {
    list-style: none;
    margin: 0;
    padding: 5px;
}

ul.comments > li {
    border-top: solid #EEE 1px;
    font-size: smaller;
    margin: 0;
    padding: 3px 0;
}

ul.comments > li > .vote-count, .answer-row.accepted ul.comments > li > .vote-count {
    background-color: transparent;
    background-image: none;
    margin: 0;
    padding: 0;
    width: 5%;
}

ul.comments > li > .body {
    background: none;
    margin: 0;
    padding: 0;
    width: 90%;
}

ul.comments > li > div {
    font-size: smaller;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
}

.count {
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.count-label {
    display: inline-block;
    font-size: small;
    vertical-align: top;
    padding-top: 7px;
}

.first > .question-row {
    border-top: none;
}

.question-row {
    border-top: solid #999 1px;
    padding: 4px 4px 2px;
}

.question-stats-summary, .answer-stats-summary {
    background-color: #EEE;
    display: inline-block;
    padding: 3px 6px;
}

.question-stats-summary > div, .answer-stats-summary > div {
    display: inline-block;
}

.question-title {
    /*color: #07C;*/
}

.site-row > div {
    display: inline-block;
    min-height: 67px;
    width: 250px;
}

.site-row > img {
    display: inline-block;
    padding-top: 1px;
    vertical-align: top;
}

.site-row .name {
    font-weight: bold;
}

.site-row .description {
    font-size: small;
}

.site-row .site-url {
    color: gray;
    font-size: small;
}

.tags {
    font-size: small;
    list-style: none;
    margin: 0;
    padding: 4px 0;
    text-align: right;
}

.tags.question-scene {
    padding-left: 5px;
    text-align: left;
}

.tags > li {
    background-color: #E0EAF1;
    border-bottom: 1px solid #3E6D8E;
    border-right: 1px solid #7F9FB6;
    color: #3E6D8E;
    display: inline-block;
    margin: 0;
    padding: 2px 4px;
    white-space: nowrap;
}

.view-count {
    color: #999;
}

.vote-count {
    background-color: #EEE;
}

.owner-info {
    background-color: #E0EAF1;
    display: inline-block;
    padding: 3px;
}

.owner-info-wrapper {
    margin: 0;
    padding: 0 5px;
    text-align: right;
}

.owner-info > img, .owner-info > div {
    display: inline-block;
    vertical-align: top;
}

.owner-info .reputation {
    font-size: small;
}

.owner-info .owner-name {
    color: blue;
    font-size: smaller;
}

