<div class="palm-row" x-mojo-tap-highlight="momentary">
    <div class="palm-row-wrapper site-row">
        <img src="#{icon_url}" height="64" width="64"/>
        <div>
            <div class="name">#{name}</div>
            <div class="description">#{description}</div>
            <div class="site-url">#{site_url}</div>
        </div>
    </div>
</div>
